{{ block title }}
    Please decide
{{ endblock }}
{{ block content }}

    <p>Your contribution will be multiplied by <b>{{ player.efficiency }}</b> and put into a general fund.</p>

    {{ formfields }}
    {{ next_button }}

{{ endblock }}
