{{ block title }}
    Diary
{{ endblock }}
{{ block content }}

    {% if player.role == C.SENDER_ROLE %}

        <textarea id="diary" class="form-control mb-3" rows="10" oninput="do_something()"></textarea>

        <script>
            function do_something() {
                let diary = document.getElementById("diary");

                liveSend(["set", diary.value]);
            }
        </script>

    {% else %}

        <textarea id="diary" class="form-control mb-3" rows="10" disabled></textarea>

        <script>
            function liveRecv(data) {
                let diary = document.getElementById("diary");

                diary.value = data;
            }

            $(document).ready(() => {
                liveSend(["get"]);
            });
        </script>

    {% endif %}

    {{ next_button }}

{{ endblock }}
