{{ block title }}
    Thank you for your participation
{{ endblock }}

{{ block content }}
    {% if guilty %}
        <p class="display-1">🖕</p>
        <p class="display-1">🤬</p>
        <p class="display-1">👊</p>
    {% else %}
        <p>Your partner dropped out. The experiment has concluded.</p>
        <p class="display-1">😥</p>
        <p class="display-1">🤗</p>
    {% endif %}
{{ endblock }}


