{{ block title }}
    Please decide
{{ endblock }}
{{ block content }}

    {% if player.role == C.CHOOSER_ROLE %}
        {% if group.min_donation > 0 %}
            <div class="alert alert-success" role="alert">
              Another participant in today's experiment made a decision:
              You are required to donate <b>at least {{ group.min_donation }}</b>.
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
              Another participant in today's experiment made a decision:
              You can donate <b>any amount you want, up to your endowment</b>.
            </div>
        {% endif %}
    {% endif %}

    {{ formfields }}
    {{ next_button }}

{{ endblock }}
