{{ block title }}
    Please look at this picture
{{ endblock }}
{{ block content }}

    {{ formfield_errors "may_continue" }}

    <img class="mb-3" src="{{ static 'co2/flood.jpg' }}">

    <input type="hidden" name="may_continue" value="1">

    <style>
        .otree-btn-next {
            display: none;
        }
    </style>

    <script>
        window.setTimeout(() => {
            document.getElementsByClassName("otree-btn-next")[0].style.display = "block";
        }, js_vars.remaining_time);
    </script>

    {{ next_button }}

{{ endblock }}
