{{ block title }}
    Please decide between apartments
{{ endblock }}
{{ block content }}

    {{ formfield_errors "may_continue" }}

    <div class="row" id="conjoint">
        <div class="col-sm-6">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rent: <b>€<span id="rent1"></span> per month</b></li>
                    <li class="list-group-item">Size: <b><span id="size1"></span> m²</b></li>
                    <li class="list-group-item"><b><span id="neigh1"></span></b></li>
                </ul>

                <div class="card-body">
                    <h5 class="card-title">Apartment #1</h5>
                    <a href="#" class="btn btn-primary" onclick="liveSend(['submit', 1])">Choose this apartment</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rent: <b>€<span id="rent2"></span> per month</b></li>
                    <li class="list-group-item">Size: <b><span id="size2"></span> m²</b></li>
                    <li class="list-group-item"><b><span id="neigh2"></span></b></li>
                </ul>

                <div class="card-body">
                    <h5 class="card-title">Apartment #2</h5>
                    <a href="#" class="btn btn-primary" onclick="liveSend(['submit', 2])">Choose this apartment</a>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="may_continue" value="1">

    <script>
        $(document).ready(() => {
            liveSend(["get"]);
        });

        function liveRecv(data) {
            if (data[0] == "conjoint") {
                document.getElementById("rent1").innerText = data[1];
                document.getElementById("size1").innerText = data[2];
                document.getElementById("neigh1").innerText = data[3];
                document.getElementById("rent2").innerText = data[4];
                document.getElementById("size2").innerText = data[5];
                document.getElementById("neigh2").innerText = data[6];

                document.getElementById("conjoint").style.display = "flex";
            }
            else if (data[0] == "proceed") {
                liveSend(["get"]);
            }
            else if (data[0] == "finish") {
                document.forms[0].submit();
            }
        }
    </script>

    <style>
        #conjoint {
            display: none;
        }
    </style>

{{ endblock }}
