{{ block title }}
    Please decide
{{ endblock }}
{{ block content }}

    <p>Your contribution will be multiplied by <b>{{ player.efficiency }}</b> and put into a general fund.</p>

    {{ formfields }}

    {% if player.round_number > 1 and group.info %}
    <h3>Contribution history</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Round</th>
                <th scope="col">You</th>
                <th scope="col">Partner</th>
            </tr>
        </thead>
        <tbody>

            {% for row in htable %}
            <tr>
                <th>{{ row.0 }}</th>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endif %}

    {{ next_button }}

{{ endblock }}
