{{ block title }}
    Please decide for everyone
{{ endblock }}
{{ block content }}

    <p>You will now decide on the donation level for each group member. The amount you decide upon will be subtracted from each group member and donated to the charity.</p>

    <h3>Group members' proposals</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Group member</th>
                <th scope="col">Proposal</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Player 1</th>
                <td>&mdash;</td>
                <td>&mdash;</td>
            </tr>
            {% for row in data %}
            <tr>
                <th scope="col">Player {{ row.0 }}</th>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Your decision</h3>

    {{ formfields }}
    {{ next_button }}

{{ endblock }}
