{{ block title }}
    Please propose a donation level
{{ endblock }}
{{ block content }}

    <p>You have an endowment of <b>{{ C.ENDOWMENT }}</b>. How much of that do you propose to donate to a charity?</p>

    <div class="mb-3 _formfield">
        <label class="col-form-label" for="id_proposal">Your proposal</label>
        <div class="controls">
            <div class="input-group input-group-narrow"><input type="text" class="form-control" inputmode="decimal" id="id_proposal" max="10.00" min="0" name="proposal" required value=""><span class="input-group-text">€</span></div>
        </div>
    </div>
    <div class="mb-3 _formfield">
        <label class="col-form-label" for="id_voice">Your message to the decider</label>
        <div class="controls">
            <textarea class="form-control" id="id_voice" name="voice" required value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
        </div>
    </div>

    {{ next_button }}

{{ endblock }}
