{{ block title }}
    Results
{{ endblock }}

{{ block content }}

    <p>Thank you. You donated {{ player.donation }}.</p>

    <p>Have a good day!</p>

    {{ next_button }}
{{ endblock }}


