{{ block title }}
    Please propose a donation level
{{ endblock }}
{{ block content }}

    <p>You have an endowment of <b>{{ C.ENDOWMENT }}</b>. How much of that do you propose to donate to a charity?</p>

    {{ formfields }}
    {{ next_button }}

{{ endblock }}
