{{ block title }}
    Results
{{ endblock }}

{{ block content }}

    <p>Thank you for your participation.</p>

    {% if player.is_decider %}
        <p>You decided on a donation of <b>{{ group.donation }}</b> for everyone. Accordingly, your final payoff is <b>{{ player.payoff }}</b>.</p>
    {% else %}
        <p>You proposed to donate <b>{{ player.proposal }}</b>. The decider decided on a donation of <b>{{ group.donation }}</b> for everyone. Accordingly, your final payoff is <b>{{ player.payoff }}</b>.</p>
    {% endif %}

    {{ next_button }}
{{ endblock }}


