{{ block title }}
    Please solve these tasks
{{ endblock }}
{{ block content }}

    {{ formfield_errors "may_continue" }}

    <div id="task">
        <p class="display-1">
            <span id="number1"></span>
            +
            <span id="number2"></span>
        </p>

        <input type="number" id="solution" class="mx-auto form-control mb-3">

        <button type="button" class="btn btn-danger btn-lg" onclick="submit_solution()">
            Submit
        </button>
    </div>

    <input type="hidden" name="may_continue" value="1">

    <script>
        $(document).ready(() => {
            liveSend(["get"]);
        });

        function submit_solution() {
            let solution = document.getElementById("solution");

            liveSend(["submit", parseInt(solution.value)]);
            solution.value = "";
        }

        function liveRecv(data) {
            if (data[0] == "proceed") {
                liveSend(["get"]);
            }
            else if (data[0] == "finish") {
                document.forms[0].submit();
            }
            else if (data[0] == "task") {
                let a = data[1][0];
                let b = data[1][1];

                document.getElementById("number1").innerText = a;
                document.getElementById("number2").innerText = b;

                document.getElementById("task").style.display = "block";
            }
        }
    </script>

    <style>
        #task {
            text-align: center;
            display: none;
        }
    </style>

{{ endblock }}
