{{ block title }}
    Results
{{ endblock }}

{{ block content }}

    <p>Your total payoff today is <b>{{ player.participant.payoff_plus_participation_fee() }}</b>.</p>

    {{ next_button }}
{{ endblock }}


