{{ block title }}
    Results
{{ endblock }}

{{ block content }}
    <p>
        <b>{{ C.GREETING }}</b>, {{ player.name }}!
    </p>

    <p><i>You are {{ player.age }} years old.</i></p>

    <p>By the way, two times {{ player.age }} is {{ player.twice_the_age }}.</p>

    {{ next_button }}
{{ endblock }}


