{{ block title }}
    Result from this round
{{ endblock }}
{{ block content }}

    <p>In this round, you contributed {{ player.contribution }}.</p>

    <p>Your payoff in this round is {{ player.payoff }}.</p>

    {{ next_button }}

{{ endblock }}
